In [63]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [64]:
credits_df = pd.read_csv('dataset/credits.csv')
titles_df = pd.read_csv('dataset/titles.csv')

In [65]:
credits_df
unique_count = credits_df['id'].nunique()
print(unique_count)

5489

In [66]:
titles_df
unique_count = titles_df['title'].nunique()
print(unique_count)
# duplicates = titles_df[titles_df.duplicated(subset=['title'], keep=False)]
duplicate_values = titles_df['title'].duplicated().count()
duplicate_values

5798

5850

In [67]:
combined_df = pd.merge(titles_df, credits_df, left_on = "id", right_on = "id")
combined_df = combined_df.drop('character', axis=1).drop('person_id', axis=1)
combined_df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,name,role
0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,Robert De Niro,ACTOR
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,Jodie Foster,ACTOR
2,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,Albert Brooks,ACTOR
3,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,Harvey Keitel,ACTOR
4,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,Cybill Shepherd,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77796,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,Adelaida Buscato,ACTOR
77797,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,Luz Stella Luengas,ACTOR
77798,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,Inés Prieto,ACTOR
77799,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,Isabel Gaona,ACTOR
77800,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,Julian Gaviria,DIRECTOR

In [68]:
pivot_df = combined_df.pivot_table(index=['id', 'title', 'type', 'description', 'release_year', 'age_certification', 'runtime', 'genres', 'production_countries', 'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score'],
                          columns='role',
                          values='name',
                          aggfunc=lambda x: ', '.join(x)).reset_index()
pivot_df

role,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,ACTOR,DIRECTOR
0,ts100116,Blown Away,SHOW,A reality show featuring glass blowers from ar...,2019,TV-PG,26,"['reality', 'comedy', 'history', 'documentation']",['CA'],3.0,tt9908860,7.1,3034.0,23.841,7.2,"Nick Uhas, Katharine Gray",NaN
1,ts100354,Monzón: A Knockout Blow,SHOW,The story about Argentinian boxer Carlos Monzó...,2019,TV-MA,45,"['sport', 'crime', 'drama', 'history']",['AR'],1.0,tt9852660,7.9,744.0,3.878,8.3,"Nacho Gadano, Mauricio Paniagua, Belén Chavann...","Jesús Braceras, Gabriel Nicoli"
2,ts100359,Medical Police,SHOW,"Two American physicians in São Paulo, Brazil, ...",2020,TV-MA,24,['comedy'],['US'],1.0,tt9850952,5.9,4203.0,9.850,6.7,"Erinn Hayes, Rob Huebel",NaN
3,ts101042,The 43,SHOW,This docuseries disputes the Mexican governmen...,2019,TV-MA,66,"['documentation', 'war']",['MX'],1.0,tt9789272,7.1,143.0,2.828,6.9,"Paco Ignacio Taibo II, Paula Mónaco, John Gibl...",Matías Gueilburt
4,ts101060,Merry Happy Whatever,SHOW,A strong-willed patriarch must balance the dem...,2019,TV-PG,26,['comedy'],['US'],1.0,tt9770286,6.4,4542.0,4.855,6.6,"Dennis Quaid, Bridgit Mendler, Brent Morin, As...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1509,ts95572,The Serpent,SHOW,"The twisting, real-life story of Charles Sobhr...",2021,TV-MA,57,"['crime', 'drama', 'thriller']",['GB'],1.0,tt7985576,7.6,42371.0,12.904,7.6,"Tahar Rahim, Jenna Coleman, Ellie Bamber, Bill...",NaN
1510,ts95997,Raising Dion,SHOW,A widowed single mom discovers that her son ha...,2019,TV-G,43,"['scifi', 'drama']",['US'],2.0,tt7826108,7.1,14799.0,33.326,7.8,"Alisha Wainwright, Ja'Siah Young, Jason Ritter...",NaN
1511,ts97584,Highland: Thailand's Marijuana Awakening,SHOW,Thailand's complicated history with marijuana ...,2017,TV-MA,20,['documentation'],['US'],1.0,tt7201224,6.2,24.0,0.663,8.0,Sebastian Perry,William Mitchell
1512,ts9794,Comedians in Cars Getting Coffee,SHOW,Jerry takes his comedy pals out for coffee in ...,2012,TV-14,19,"['comedy', 'animation', 'family']",['US'],11.0,tt2314952,8.0,12522.0,13.067,7.1,Jerry Seinfeld,NaN
1513,ts987,Danger Mouse,SHOW,"Danger Mouse, the world's greatest secret agen...",1981,TV-Y,14,"['animation', 'comedy', 'family', 'scifi', 'eu...",['GB'],10.0,tt0081848,7.4,3545.0,8.550,7.5,"David Jason, Terry Scott, Edward Kelsey, Brian...",NaN

In [69]:
shows = combined_df[combined_df['type'] != 'MOVIE']
shows

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,name,role
163,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306,Graham Chapman,ACTOR
164,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306,Michael Palin,ACTOR
165,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306,Terry Jones,ACTOR
166,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306,Eric Idle,ACTOR
167,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306,Terry Gilliam,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77655,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,"['drama', 'comedy']",['TH'],1.0,tt15978704,8.2,5.0,2.334,NaN,Maneerat Kam-Uan,ACTOR
77656,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,"['drama', 'comedy']",['TH'],1.0,tt15978704,8.2,5.0,2.334,NaN,Rudklao Amratisha,ACTOR
77657,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,"['drama', 'comedy']",['TH'],1.0,tt15978704,8.2,5.0,2.334,NaN,Jaturong Mokjok,ACTOR
77658,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,"['drama', 'comedy']",['TH'],1.0,tt15978704,8.2,5.0,2.334,NaN,Pisamai Wilaisak,ACTOR
77659,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,"['drama', 'comedy']",['TH'],1.0,tt15978704,8.2,5.0,2.334,NaN,Sarawut Wichiensarn,DIRECTOR

Average score by genre

In [118]:
import ast

shows_genres_df = shows.copy().reset_index()

# Initialize an empty list to store all genres
genres_list = []

# Use ast.literal_eval to store all genres into a list
for x in shows_genres_df['genres']:
    y = ast.literal_eval(x)
    genres_list.extend(y)

# Remove duplicates
genres_set = list(set(genres_list))

# Create a DataFrame of genres with binary values (0 or 1)
genres_df = shows_genres_df['genres'].apply(lambda x: pd.Series([1 if genre in ast.literal_eval(x) else 0 for genre in genres_set], index=genres_set))

# Concatenate the new DataFrame with the original one
shows_genres_df = pd.concat([shows_genres_df, genres_df], axis=1)

# Now, 'shows_genres_df' should contain the genres as separate columns with binary values (0 or 1)
shows_genres_df

,index,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,...,thriller,war,action,sport,documentation,reality,western,fantasy,animation,family
0,163,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],...,0,0,0,0,0,0,0,0,0,0
1,164,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],...,0,0,0,0,0,0,0,0,0,0
2,165,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],...,0,0,0,0,0,0,0,0,0,0
3,166,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],...,0,0,0,0,0,0,0,0,0,0
4,167,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14705,77655,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,"['drama', 'comedy']",['TH'],...,0,0,0,0,0,0,0,0,0,0
14706,77656,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,"['drama', 'comedy']",['TH'],...,0,0,0,0,0,0,0,0,0,0
14707,77657,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,"['drama', 'comedy']",['TH'],...,0,0,0,0,0,0,0,0,0,0
14708,77658,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,"['drama', 'comedy']",['TH'],...,0,0,0,0,0,0,0,0,0,0
14709,77659,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,"['drama', 'comedy']",['TH'],...,0,0,0,0,0,0,0,0,0,0

In [ ]:
grouped_df = shows.groupby('title').agg(set).reset_index()
grouped_df

,title,id,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,name,role
0,#blackAF,{ts236033},{SHOW},{A father takes an irreverent and honest appro...,{2020},{TV-MA},{37},{['comedy']},{['US']},{1.0},{nan},"{nan, nan, nan, nan, nan, nan, nan, nan}","{nan, nan, nan, nan, nan, nan, nan, nan}",{2.924},{7.1},"{Richard Gardenhire Jr., Genneya Walton, Iman ...",{ACTOR}
1,100 Days My Prince,{ts83359},{SHOW},{Lee Yool falls off a cliff and nearly dies in...,{2018},{TV-14},{75},"{['drama', 'thriller', 'comedy', 'action', 'hi...",{['KR']},{1.0},{tt8199972},{7.7},{2068.0},{10.313},{8.323},"{Lee Jong-jae, Jeong Joon-won, Heo Jung-min, J...","{DIRECTOR, ACTOR}"
2,100 Humans: Life's Questions. Answered.,{ts226588},{SHOW},{One hundred hardy souls from diverse backgrou...,{2020},{TV-14},{37},"{['documentation', 'reality']}",{['US']},{1.0},{tt11823088},{5.7},{4055.0},{3.447},{6.4},"{Braxton Hale, Komalpreet Batth, Haley Bockrat...",{ACTOR}
3,13 Reasons Why,{ts42294},{SHOW},"{After a teenage girl's perplexing suicide, a ...",{2017},{TV-MA},{58},"{['drama', 'thriller']}",{['US']},{4.0},{tt1837492},{7.5},{286015.0},{80.574},{7.748},"{Dylan Minnette, Deaken Bluman, Alisha Boe, Ch...",{ACTOR}
4,13 Reasons Why: Beyond the Reasons,{ts82424},{SHOW},"{Cast members, writers, producers and mental h...",{2017},{TV-MA},{42},{['documentation']},{['US']},{3.0},{tt8615966},{6.2},{328.0},{11.431},{6.5},"{Dylan Minnette, Jay Asher, Katherine Langford...",{ACTOR}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1826,revisions,{ts84639},{SHOW},{An isolated city. An unknown enemy. An uncert...,{2019},{TV-MA},{23},"{['animation', 'action', 'scifi']}",{['JP']},{1.0},{tt9522354},{5.9},{612.0},{4.35},{7.0},"{Masaki Terasoma, Rie Takahashi, Mikako Komats...",{ACTOR}
1827,นางสาวก้นครัว,{ts223454},{SHOW},"{""Miss Culinary"" reveals the brilliance of a y...",{2019},{TV-14},{0},{[]},{['TH']},{1.0},{nan},"{nan, nan, nan, nan, nan}","{nan, nan, nan, nan, nan}",{2.431},{8.0},"{Thanabordee Jaiyen, Jason Young, Chonnikan Ne...",{ACTOR}
1828,ปริศนาล่าข้ามเวลา,{ts223062},{SHOW},{nan},{2019},{TV-14},{60},{[]},{['TH']},{1.0},{nan},{nan},{nan},{1.473},{7.0},{Morakot Liu},{ACTOR}
1829,糖糖Online,{ts222901},{SHOW},"{When a wardrobe malfunction goes viral, a bub...",{2019},{TV-MA},{24},"{['drama', 'family']}",{['TW']},{1.0},{tt11330500},{5.4},{22.0},{0.6},{10.0},"{Suun Lin, Ada Pan, Jacqueline Zhu Zhi-Ying, I...",{ACTOR}
1830,냉면 랩소디,{ts307816},{SHOW},"{Refreshing and flavorful, naengmyeon is Korea...",{2021},{TV-PG},{49},{['documentation']},{['KR']},{1.0},{tt15772846},{7.5},{25.0},{1.765},{4.0},{Baek Jong-won},{ACTOR}